// STYLEGUIDE
$col-primary: hsl(0, 100%, 74%)
$col-secondary-cta: hsl(154, 59%, 51%)
$col-secondary-accent: hsl(248, 32%, 49%)
$col-neutral-dark: hsl(249, 10%, 26%)
$col-neutral-light: hsl(246, 25%, 77%)

$font-stack: 'Poppins', Helvetica, sans-serif
$font-weight-light: 400
$font-weight-regular: 500
$font-weight-semibold: 600
$font-weight-bold: 700
$font-base-size: 16px
