// STYLEGUIDE
$col-primary: hsl(0, 100%, 74%)
$col-secondary-cta: hsl(154, 59%, 51%)
$col-secondary-accent: hsl(248, 32%, 49%)
$col-neutral-dark: hsl(249, 10%, 26%)
$col-neutral-light: hsl(246, 25%, 77%)

$font-stack: 'Poppins', Helvetica, sans-serif
$font-weight-light: 400
$font-weight-regular: 500
$font-weight-semibold: 600
$font-weight-bold: 700
$font-base-size: 16px

$shadow: 0px 8px 0px rgba(0,0,0,0.15)

/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  font-family: $font-stack
body
  margin: 0
  font-size: $font-base-size
  background: url("../../assets/bg-intro-mobile.png") no-repeat center top
  background-color: $col-primary
  text-align: center
  padding: 70px 25px
h1
  font-weight: $font-weight-semibold
  font-size: 1.8em
  line-height: 1.3
p
  line-height: 1.6
a
  text-decoration: none
  color: $col-primary
  font-weight: $font-weight-bold

// TEXT CONTENT
#text-content
  color: white
  // padding: 45px 0

// CALLOUT
.callout
  background: $col-secondary-accent
  color: white
  padding: 2px
  font-size: 0.9em
  border-radius: 10px
  margin-bottom: 25px
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow
.callout-line2
  display: block

// CARD / FORM
.card
  background: white
  border-radius: 10px
  padding: 23px
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow
input
  display: block
  width: 100%
  margin-bottom: 23px
  font-weight: $font-weight-semibold
  font-size: 0.9em
  padding: 15px 20px
  border-radius: 5px
  border: 1px solid #e3e3e3
button
  background: $col-secondary-cta
  border: none
  text-transform: uppercase
  font-size: 1em
  color: white
  font-weight: $font-weight-regular
  letter-spacing: 1px
  width: 100%
  border-radius: 5px
  padding: 15px
  border-bottom: 4px solid hsl(154, 59%, 47%)
.fineprint
  font-size: 0.7em
  color: $col-neutral-light
  padding: 0 20px
  line-height: 1.8
